.background{
    width: 100%;
    height: 100%;
    &--costal{
        background-image: url('../img/costal-fondo.jpg');
        background-size: contain;
    }
    
}

@media(max-width: breakpoints('ipad-pequeña')){
    .background{
        &--costal{
            background-size: cover;
        }
        
    }
}
