.footer{
    position: relative;
    margin-top: 200px;
    width: 100%;
    height: 100%;
    background-image: url('../img/campo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 99;
    &::after{
        position: absolute;
        content: "";
        background: rgb(color('verde-oscuro'), 0.7);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }
    &__bottom{
        position: relative;
    }
    &__waves{
        width: 100%;
        object-fit: cover;
        height: auto;
        margin-bottom: -10px;
    }
    &__line{
        position: absolute;
        top: 0;
        left: calc(50% - 35%);
        width: 100%;
        max-width: 70%;
        height: 10px;
        background-color: color('amarillo');
    }
}