.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 10px 20px 0 20px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    &__logo{
        max-width: 20%;
        &__image{
            width: 100%;
            max-height: 125px;
            object-fit: contain;
        }
        &__image--mobile{
            display: none;
        }
    }
    &__nav{
        margin-top: 30px;
        width: 65%;
    }
    &__list{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        &__item{
            color: color('primario');
            list-style: none;
            text-align: center;
            font-size: font('16');
            text-transform: uppercase;
            font-weight: bold;
            cursor: pointer;
            transition: .3s padding, color ease;
            &:hover{
                padding-top: 10px;
                color: color('amarillo');
            }
        }
    }
    &__buscador{
        margin-top: 22.5px;
        position: relative;
        max-height: 30px;
        &__input{
            @include restart_input;
            background-color: color('primario');
            border-radius: 100px;
            border: none;
            height: 30px;
            padding: 0 25px;
            width: 100%;
            &:focus{
                box-shadow: 0 0 5px color('verde-claro');
            }
            &::placeholder{
                color: color('gris-claro');
            }
        }
        &__icono{
            position: absolute;
            max-height: 18px;
            right: 10px;
            top: calc(50% - 9px);
            color: color('verde-claro');
        }
        &--mobile{
            display: none;
        }

    }
    
}


@media(max-width: breakpoints('desktop')){
    .header{
        &__list__item{
            font-size: font('12');
        }
    }
}
@media(max-width: breakpoints('portatil')){
    .header{
        &__buscador{
            &__input{
                display: none;
            }
            &__icono{
                color: color('primario');
            }
        }
    }
}
@media(max-width: breakpoints('ipad-grande')){
    .header{
        height: 70px;
        &__logo{
            display: none;
            &__image{
                display: none;
            }
            &__image--mobile{
                display: block;
                max-width: 50px;
                padding: 5px;
            }
        }
        &__buscador{
            display: none;
        }
        &__nav{
            height: 95vh;
            width: 95%;
            background: color('verde-oscuro');
            position: absolute;
            left: -1000px;
            top: 0;
            opacity: 0;
            margin-top: 0;
            z-index: 9;
            transition: .5s all ease;
            &.active{
                left: 0;
                opacity: 1;
            }
        }
        &__list{
            display: flex;
            height: 100%;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-evenly;
            padding: 40px 28px 10px 28px;
            gap: 0;
            flex: 1;
            position: relative;
            overflow: hidden;
            &::after{
                position: absolute;
                content: "";
                width: 70%;
                height: 8px;
                bottom: 0;
                background: color('amarillo');
                left: calc(50% - 35%);
            }
            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100vh;
                height: 100vh;
                background-color: #ffffff10;
                backdrop-filter: blur(1.5px);
                -webkit-backdrop-filter: blur(1.5px);
                z-index: -1;
                pointer-events: none;
            }
            &__item{
                font-size: font('17');
                width: 100%;
                text-align: left;
                position: relative;
                &:hover{
                    padding-top: 0;
                }
                &:first-child::after{
                    content: none;
                }
                &::after{
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 1.5px;
                    background-color: color('verde-claro');
                    bottom: -10px;
                    left: 0;
                }
            }
        }
        &__buscador--mobile{
            display: block;
            margin: 0;
            .header__buscador__input{
                display: block;
                border-radius: 5px;
                height: 30px;
            }
            .header__buscador__icono{
                color: color('verde-claro');
            }
        }
    }
}